{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

      {% if item.url contains '://' %}
        {% assign url = item.url %}
      {% else %}
        {% assign url = item.url | relative_url %}
      {% endif %}

      <li class="item  item--nav{% if item.url == page.url %}  item--current{% endif %}">
        <a href="{{ url }}">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" %}
  </button>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<button class="theme-button" data-theme="light" style="display: none"></button>

<div>
  {% include site-logo.html %}

  <button class="button button--nav" aria-label="Menu toggle">
    <!-- {% include icon.html id="nav" title="Menu" %} -->
    <span class="material-symbols-outlined">
      menu
      </span>
  </button>
</div>

<script type="text/javascript">
  // Get list and button
  const navList = document.querySelector('.header .container .nav .list--nav')
  const button = document.querySelector('.header .container div .button--nav')

  // Hide nav and apply toggle
  const collapseNav = () => {
    if (document.body.clientWidth < 640) {
      navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
    } else {
      navList.removeAttribute('style')
    }

    button.onclick = () => {
      navList.style.setProperty('transition', `margin .1s`)
      if (navList.style.getPropertyValue('--listHeight')) {
        navList.style.removeProperty('--listHeight')
      } else {
        navList.style.setProperty('--listHeight', `-${navList.offsetHeight}px`)
      }
    }
  }

  collapseNav()

  // Check on resize if to collapse nav
  window.addEventListener('resize', () => {
    collapseNav()
  })

  // Theme
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    document.documentElement.setAttribute('data-theme', "dark");
  } else {
    document.documentElement.setAttribute('data-theme', "dark");
  }

  const themeButton = document.getElementsByClassName("theme-button")[0];
  let storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
  if (storedTheme)
      document.documentElement.setAttribute('data-theme', storedTheme)

  let targetTheme;

  if (localStorage.getItem('theme') == "light") {
    themeButton.textContent = "🌑";
    document.documentElement.setAttribute('data-theme', "dark");
  } else {
    themeButton.textContent = "☀️";
    document.documentElement.setAttribute('data-theme', "light");
  }

  // Toggle dark/light theme
  themeButton.onclick = () => {
    if (document.documentElement.getAttribute("data-theme") == "light") {
      themeButton.textContent = "🌑";
      document.documentElement.setAttribute('data-theme', "dark");
      targetTheme = "dark";
    } else {
      themeButton.textContent = "☀️";
      document.documentElement.setAttribute('data-theme', "light");
      targetTheme = "light";
    }
  }

  localStorage.setItem('theme', targetTheme);

  /*// https://lukelowrey.com/css-variable-theme-switcher/
  let storedTheme = localStorage.getItem('theme') || (window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light");
  if (storedTheme)
      document.documentElement.setAttribute('data-theme', storedTheme)

  themeButton.onclick = function() {
    let currentTheme = document.documentElement.getAttribute("data-theme");
    let targetTheme = "light";

    if (currentTheme === "light") {
        targetTheme = "dark";
    }

    document.documentElement.setAttribute('data-theme', targetTheme)
    localStorage.setItem('theme', targetTheme);
  };*/
</script>