<footer class="no-print footer">
  <div class="container">
    <div class="copyright  typeset">
      <small>&copy; {{ site.title }} {{ site.time | date: '%Y' }}&emsp;
        <a href="https://github.com/SamMed05"><span class="iconify" data-icon="akar-icons:github-fill" title="GitHub"></span></a>&ensp;
        <a href="https://twitter.com/MedianiSamuel"><span class="iconify" data-icon="akar-icons:twitter-fill" title="Twitter"></span></a>&ensp;
        <a href="{{ site.url }}feed.xml"><span class="iconify" data-icon="fa:feed" title="RSS Feed"></span></a></small>
    </div>


    {% include nav-footer.html %}
  </div>
</footer>
