$backgroundColour: #ffffff; // #ebfaff
$codeBackgroundColour: #f3f4f4;
$featureBackgroundColour: #f9fafa;
$accentColour: #309eff;

// Text colours
$headingColour: #032040; // #031b2b
$bodyColour: #000000; // #101824
$linkColour: #0072d6;
$hoverColour: #00528d;
$focusColour: #b6dffc;
$blockquoteColour: #edf2f5;
$captionColour: #2d343d;
$footerColour: #9ea8ad;
$white: #ffffff;

// Typography
$bodytype: (
  // font-family: "Georgia, serif",
  // font-family: '"Roboto", sans-serif',
  // font-family: '"Nunito", sans-serif',
  // font-family: '"Poppins", sans-serif',
  font-family: '"Inter", sans-serif', // Rubik, Noto Sans, Jost, Sen, Mulish and Inter are good too
  regular: 400,
  bold: 600,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  // font-family: '"Merriweather", serif',
  font-family: '"Poppins", sans-serif', // Open Sans, Sen and Montserrat are good too
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// Font import for non-standard web fonts (moved to HTML head as @import is deprecated for Sass module imports)
//@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;500&display=swap');
// Other nice fonts: Merriweather, Roboto, Inconsolata, Jost, Barlow, Nunito+Sans, Lato, Lora, Rubik, Open+Sans, Mulish, Noto+Sans