$backgroundColour: #ffffff; // #ebfaff
$codeBackgroundColour: #f3f4f4;
$featureBackgroundColour: #f9fafa;
$accentColour: #309eff;

// Text colours
$headingColour: #032040; // #031b2b
$bodyColour: #000000; // #101824
$linkColour: #0072d6;
$hoverColour: #00528d;
$focusColour: #b6dffc;
$blockquoteColour: #edf2f5;
$captionColour: #2d343d;
$footerColour: #9ea8ad;
$white: #ffffff;

:root[data-theme="light"] {
// Background colours
$backgroundColour: #ffffff; // #ebfaff
$codeBackgroundColour: #f3f4f4;
$featureBackgroundColour: #f9fafa;
$accentColour: #309eff;

// Text colours
$headingColour: #032040; // #031b2b
$bodyColour: #000000; // #101824
$linkColour: #0072d6;
$hoverColour: #00528d;
$focusColour: #b6dffc;
$blockquoteColour: #edf2f5;
$captionColour: #2d343d;
$footerColour: #9ea8ad;
$white: #ffffff;
}
:root[data-theme="dark"] {
  $backgroundColour: #1a1c1f;
  $codeBackgroundColour: #303030;
  $featureBackgroundColour: #f9fafa;
  $accentColour: #309eff;

  $headingColour: #f0f0f0;
  $bodyColour: #f0f0f0;
  $linkColour: #0072d6;
  $hoverColour: #00528d;
  $focusColour: #b6dffc;
  $blockquoteColour: #30353a;
  $captionColour: #d9e3f0;
  $footerColour: #9ea8ad;
  $white: #ffffff;
}

// Typography
$bodytype: (
  // font-family: "Georgia, serif",
  // font-family: '"Roboto", sans-serif',
  // font-family: '"Nunito", sans-serif',
  // font-family: '"Poppins", sans-serif',
  font-family: '"Inter", sans-serif', // Rubik, Noto Sans, Jost, Sen, Mulish and Inter are good too
  regular: 400,
  bold: 600,
  italic: italic,
  cap-height: 0.75
) !default;

$headingtype: (
  // font-family: '"Merriweather", serif',
  font-family: '"Poppins", sans-serif', // Open Sans, Sen and Montserrat are good too
  regular: 400,
  bold: 700,
  cap-height: 0.75
) !default;

$monospacetype: (
  font-family: "Menlo, monospace",
  regular: 400,
  cap-height: 0.68
) !default;

// Font import for non-standard web fonts
//@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Nunito&display=swap');
// Consolidated font import
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Poppins&family=Sen&family=Lato&family=Lora&family=Inter&family=Rubik&family=Open+Sans&family=Mulish&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');