---
layout: default
---

{% include site-header.html %}
{% include topButton.html %}
{% include head.html %}
{% include site-logo.html %}
{% include site-favicons.html %}

<head>
  <link rel="shortcut icon" type="image/x-icon" href="assets/favicon.ico">
  <script src="https://unpkg.com/applause-button/dist/applause-button.js"></script>
  <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
  <link rel="stylesheet" href="https://unpkg.com/applause-button/dist/applause-button.css">
</head>

<main class="main  container">

  <article class="article  article--post  content  typeset">
    <!-- https://applause-button.com/ -->
    <applause-button multiclap="true" color="#2b8783" style="width: 60px; height: 60px; transform: translateX(-50%); left:50%;"/>

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    <!--{% include nav-share.html %}-->

    <!--{% include post-comments.html %}-->

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
